<% include partials/header.ejs %>

  <div class="container">
    <h1 class="display-4" style="text-align: center;"><strong><%= title %></strong></h1>
    <div class="card" style="width: 500px; margin: auto; align-items: center;">
      <img class="card-img-top" src="/images/me.PNG" alt="Card image cap" style="width:50%">
      <div class="card-body">
        <h5 class="card-title">Pavithran Siva Kumar</h5>
        <p class="card-text">
          I am doing Software Engineering Technology - Artificial Intelligence Fast Track course in a Centennial College. I grew up in one of the oldest city called Madurai in Tamilnadu, India. I did my bachelor's in Information Technology.
          I am very excited to be in this reputed insitution and wish to gain a lot of exposure.  
        </p>
        <a href="/resources/cv.pdf" class="btn btn-primary" download="resume_pavithran">View Resume</a>
      </div>
    </div>
  </div>
  
<% include partials/footer.ejs %>