<% include partials/header.ejs %>

  <!-- Welcome page -->

  <div class="content">
    <h1 class="display-4" style="text-align: center;"><strong><%= title %></strong></h1>
    <div class="card text-center">
      <div class="card-header">
        Pavithran Siva Kumar
      </div>
      <div class="card-body">
        <h5 class="card-title welcome">WELCOME</h5>
        <p class="card-text">
          <!-- welcome image -->
          <img src="../images/quote.jpg" alt="We're changing the world with technology" width="700px">
        </p>
        <br/>
        <!-- page link buttons -->
        <a href="/about" class="btn btn-secondary">About Me</a>
        
        <a href="/projects" class="btn btn-success">Check My Projects</a>

        <a href="/services" class="btn btn-warning">Check My Services</a>

        <a href="/contact" class="btn btn-info">Contact Me</a>

      </div>
      <div class="card-footer text-muted">
        
      </div>
    </div>
  </div>

<% include partials/footer.ejs %>