<% include partials/header.ejs %>
  
  <div class="content">
    <h1 class="display-4" style="text-align: center;"><strong><%= title %></strong></h1>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../images/p1.png" class="d-block w-100" alt="project"  style="height:750px;">
        <div class="carousel-caption d-none d-md-block">
          <h5>BOTS</h5>
          <p>BOTS consist of Robotic Process Automation development and maintance using different stack such as C#, java. It also includes RPA BOTS using the Automation Anywhere platform and ETL integration. </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../images/p2.jpg" class="d-block w-100" alt="project" style="height:750px;">
        <div class="carousel-caption d-none d-md-block">
          <h5>AVERRT</h5>
          <p>Aero vibration early risk reduction tool is a MVC web application which provides and compare a vibration data from aeroplane. 
            It uses KendoUI framwork to showcase statistic chart of the data.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../images/p3.png" class="d-block w-100" alt="project"  style="height:750px;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Blockedge</h5>
          <p>Blockchain infrastructure automation plateform tool for private blockchain such as hyperledeger and ethereum. IPFS Integration on blockchain</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>

<% include partials/footer.ejs %>