<% include partials/header.ejs %>

  <div class="container">
    <h1 class="display-4" style="text-align: center;"><strong><%= title %></strong></h1>
    <div class="card-group">
      <div class="card">
        <i class="card-img-top fas fa-cogs fa-10x" style="text-align: center;"></i>
        <div class="card-body">
          <h5 class="card-title">Automation</h5>
          <p class="card-text">
            Provide RPA Automation related design and development using C#, java and python. 
            Support in RPA tool like Automation Anywhere. 
            Provide support in ETL tool integration like Informatica and Pentaho.
          </p>
        </div>
      </div>
      <div class="card">
        <i class="card-img-top fas fa-code fa-10x" style="text-align: center;"></i>
        <div class="card-body">
          <h5 class="card-title">Full stack Development</h5>
          <p class="card-text">
            Provide both front-end and back-end development/support of web application using Spring MVC.
          </p>
        </div>
      </div>
      <div class="card">
        <i class="card-img-top fas fa-cubes fa-10x" style="text-align: center;"></i>
        <div class="card-body">
          <h5 class="card-title">Block chain integration</h5>
          <p class="card-text">
            Provide design and development of private block chain integration using Hyperledger and Ethereum.
          </p>
        </div>
      </div>
    </div>
  </div>

<% include partials/footer.ejs %>