<style>
  .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: black;
     color: white;
     text-align: center;
  }
  </style>
  <div class="footer">
    <div class="ui container">
      Centennial College - COMP229 Project
        </div>
  </div>
  <script src="jquery/dist/jquery.slim.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="javascripts/app.js"></script>
</body>
</html>